<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qhy040404.libraryonetap">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LibraryOneTapApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="33">
        <activity
            android:name=".ui.tools.ToolsInitActivity"
            android:exported="false"
            android:label="@string/tools_title" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false"
            android:label="@string/about_title" />
        <activity
            android:name=".ui.secret.SecretActivity"
            android:exported="false"
            android:label="@string/secret_title" />
        <activity
            android:name=".ui.tools.VCardActivity"
            android:exported="false"
            android:label="@string/vcardTitle" />
        <activity
            android:name=".ui.tools.BathReserveActivity"
            android:exported="false"
            android:label="@string/bath_title" />
        <activity
            android:name=".ui.YanxiujianActivity"
            android:exported="false"
            android:label="@string/title_activity_yanxiujian" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.DetailActivity"
            android:exported="false"
            android:label="@string/library" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <meta-data
            android:name="Channel"
            android:value="${CHANNEL}" />
        <meta-data
            android:name="Build_Time"
            android:value="${BUILD_TIME}" />
        <meta-data
            android:name="Build_Host"
            android:value="${BUILD_HOST}" />
        <meta-data
            android:name="Commit"
            android:value="${COMMIT}" />
    </application>

</manifest>